<div class="category-filter">
  <h3>Categories</h3>
  <div class="category-list">
    <button 
      matButton 
      [class.selected]="selectedCategoryId === null"
      (click)="onCategoryClick(null)">
      <mat-icon>all_inclusive</mat-icon>
      All Categories
    </button>
    
    <button 
      matButton 
      *ngFor="let category of categories"
      [class.selected]="isSelected(category.categoryId!)"
      (click)="onCategoryClick(category.categoryId!)">
      <mat-icon>folder</mat-icon>
      {{ category.name }}
    </button>
  </div>
</div>
