@use "@angular/material" as mat;
@use "./themes/_theme-colors.scss" as theme-colors;

/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  @include mat.theme(
    (
      color: (
        primary: theme-colors.$primary-palette,
        secondary: theme-colors.$secondary-palette,
        tertiary: theme-colors.$accent-palette,
        background: theme-colors.$background-palette,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Montserrat,
      ),
      density: -2,
    )
  );
}

body {
  margin: 0;
}

.dark-theme {
  @include mat.theme(
    (
      color: (
        primary: theme-colors.$primary-palette-dark,
        secondary: theme-colors.$secondary-palette-dark,
        tertiary: theme-colors.$accent-palette-dark,
        background: theme-colors.$background-palette-dark,
      ),
      typography: (
        plain-family: Poppins,
        brand-family: Montserrat,
      ),
      density: -2,
    )
  );
  color-scheme: dark;
}