<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="256px">
    <div class="sidebar-logo">
      <a routerLink="/dashboard">
        <div class="logo-icon" *ngIf="!isCollapsed">TT</div>
        <div class="logo-icon-small" *ngIf="isCollapsed">T</div>
        <h1 *ngIf="!isCollapsed">TechTicker</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard">Overview</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Products" nzIcon="shopping">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/products">All Products</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/products/categories">Categories</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Users" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users">All Users</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users/roles">Roles</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Mappings" nzIcon="link">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mappings">Product Mappings</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mappings/sites">Site Configs</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="app-header">
      <div class="app-header-left">
        <span class="header-trigger" (click)="toggleCollapsed()">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
      <div class="app-header-right" *ngIf="isAuthenticated">
        <div class="user-profile">
          <div class="user-info">
            <nz-avatar [nzText]="getUserInitials()" nzSize="small" [style.background-color]="'#1890ff'"></nz-avatar>
            <span class="username">{{ getUserDisplayName() }}</span>
          </div>
          <div class="user-actions">
            <button nz-button nzType="text" nzSize="small" (click)="onProfileClick()" title="My Profile">
              <span nz-icon nzType="user"></span>
            </button>
            <button nz-button nzType="text" nzSize="small" (click)="onLogout()" title="Logout">
              <span nz-icon nzType="logout"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="app-header-right" *ngIf="!isAuthenticated">
        <div class="auth-actions">
          <button nz-button nzType="default" routerLink="/auth/login">
            <span nz-icon nzType="login"></span>
            Login
          </button>
          <button nz-button nzType="primary" routerLink="/auth/register">
            <span nz-icon nzType="user-add"></span>
            Register
          </button>
        </div>
      </div>
    </nz-header>
    <nz-content class="app-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
